<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecorem -->
      <package
            uri="http://www.Jefferson.org/emf/2020/Ecorem"
            class="ecorem.EcoremPackage"
            genModel="ecorem.genmodel"/>
   </extension>

</plugin>
