<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated refactoring -->
      <package
            uri="www.geodes.UdeM.edu/refactoring"
            class="refactoring.RefactoringPackage"
            genModel="casesMergeConflict/refactoring/metaModels/refactoring.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated refactoringDiffMM -->
      <package
            uri="www.geodes.UdeM.edu/refactoringDiffMM"
            class="refactoringDiffMM.RefactoringDiffMMPackage"
            genModel="casesMergeConflict/refactoring/metaModels/refactoringDiffMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated refactoringRuleMM -->
      <package
            uri="www.geodes.UdeM.edu/refactoringRuleMM"
            class="refactoringRuleMM.RefactoringRuleMMPackage"
            genModel="dsls/ecoreRefactoring/metamodels/refactoringRuleMM.genmodelA"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oracleDiffMM -->
      <package
            uri="www.geodes.UdeM.edu/oracleDiffMM"
            class="oracleDiffMM.OracleDiffMMPackage"
            genModel="dsls/oracle/metamodels/oracleDiffMM.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacman -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacman"
            class="pacman.PacmanPackage"
            genModel="casesMergeConflict/pacman/metaModelsManipulated/pacman.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacmanDiffMM -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacmanDiffMM"
            class="pacmanDiffMM.PacmanDiffMMPackage"
            genModel="DSMMerge/MM/pacmanDiffMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacmanRuleMM -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacmanRuleMM"
            class="pacmanRuleMM.PacmanRuleMMPackage"
            genModel="DSMMerge/MM/pacmanRuleMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacmanDiffMMS -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacmanDiffMMS"
            class="pacmanDiffMMS.PacmanDiffMMSPackage"
            genModel="DSMMerge/MM/pacmanDiffMMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacmanDiffMMO -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacmanDiffMMO"
            class="pacmanDiffMMO.PacmanDiffMMOPackage"
            genModel="DSMMerge/MM/_/pacmanDiffMMO.genmodelOperationalMap"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacman2WayDiffMM -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacman2WayDiffMM"
            class="pacman2WayDiffMM.Pacman2WayDiffMMPackage"
            genModel="DSMMerge/MM/pacman2WayDiffMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pacman2WayRuleMM -->
      <package
            uri="http://www.zadahmad.org/dsmcompare/pacman2WayRuleMM"
            class="pacman2WayRuleMM.Pacman2WayRuleMMPackage"
            genModel="DSMMerge/MM/pacman2WayRuleMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated refactoring2WayDiffMM -->
      <package
            uri="www.geodes.UdeM.edu/refactoring2WayDiffMM"
            class="refactoring2WayDiffMM.Refactoring2WayDiffMMPackage"
            genModel="casesMergeConflict/refactoring/metaModels/refactoring2WayDiffMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated refactoring2WayRuleMM -->
      <package
            uri="www.geodes.UdeM.edu/refactoring2WayRuleMM"
            class="refactoring2WayRuleMM.Refactoring2WayRuleMMPackage"
            genModel="casesMergeConflict/refactoring/metaModels/refactoring2WayRuleMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DSSMM -->
      <package
            uri="http://www.zadahmad.org/dsvcs/dssmm"
            class="dssmm.DssmmPackage"
            genModel="casesMergeConflict/dss/metaModels/DSSMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DSSMM2WayDiffMM -->
      <package
            uri="http://www.zadahmad.org/dsvcs/dssmm2WayDiffMM"
            class="dssmm2WayDiffMM.Dssmm2WayDiffMMPackage"
            genModel="casesMergeConflict/dss/metaModels/DSSMM2WayDiffMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DSSMM2WayRuleMM -->
      <package
            uri="http://www.zadahmad.org/dsvcs/dssmm2WayRuleMM"
            class="dssmm2WayRuleMM.Dssmm2WayRuleMMPackage"
            genModel="casesMergeConflict/dss/metaModels/DSSMM2WayRuleMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DSSMMDiffMM -->
      <package
            uri="http://www.zadahmad.org/dsvcs/dssmmDiffMM"
            class="dssmmDiffMM.DssmmDiffMMPackage"
            genModel="casesMergeConflict/dss/metaModels/DSSMMDiffMM.genmodel"/>
   </extension>

</plugin>
